.dropzone {
    margin: 0.5em;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropzone .dz-drag-hover {
    border: 2px solid black;
    background: palegreen;
}



