@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans:300&subset=latin-ext');

@font-face {
    font-family: "KenneyIcons";
    src: url("../fonts/kenney-icon-font.eot?j3xvr8");
    src: url("../fonts/kenney-icon-font.eot?j3xvr8#iefix") format("embedded-opentype"),
    url("../fonts/kenney-icon-font.ttf?j3xvr8") format("truetype"),
    url("../fonts/kenney-icon-font.woff?j3xvr8") format("woff"),
    url("../fonts/kenney-icon-font.svg?j3xvr8#KenneyIcons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.ui .maniaconnect {
    width: 150px; /* 202px */
    background: url('../images/maniaconnect.png') top;
    background-size: 99%;
    text-indent: -99999px;
}

.ui .maniaconnect:hover {
    background: url('../images/maniaconnect.png') bottom;
    background-size: 99%;
}

body {
    padding-top: 4em;
    background-image: linear-gradient(rgba(25, 181, 254, 0.3), rgba(246, 246, 246, 0.6)), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100%;
    background-size: cover;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 200 !important;
}

a, input[submit], button {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 200 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
}

.ajax {
    min-height: 7rem;
}

.inplaceEdit {
    width: 100%;
}

div.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.maniaplanet {
    font-family: "KenneyIcons", 'FontAwesome', "Montserrat", sans-serif;
    font-weight: 200;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

.sortable tr {
    cursor: default;
}

.sortable .placeholder {
    display: block;
    background: red;
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid red !important;
}

.sortable tr.placeholder:before {
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: red;
    margin-top: -5px;
    left: -5px;
    border-right: none;
    content: '';
    color: red;
}
.ui.card.raised{
    width: 425px !important;
}
